h1 {
  color: brown;
  text-align: center;
  font-family: inherit;
  font-size: 200%;
}
h2 {
  color: inherit;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}
li {
  font-family: serif;
  font-weight: lighter;
}
body {
  background-color: orange;
}
img {
  border: 1px solid #ddd;
  border-radius: 1px;
  padding: 5px;
  width: 800px;
  height: 700px;
  object-fit: contain;
}
