h1 {
  color: brown;
  text-align: center;
  font-family: inherit;
  font-size: 200%;
}
h2 {
  color: inherit;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}
li {
  font-family: serif;
  font-weight: lighter;
}
body {
  background-color: orange;
}
img {
  float: inherit;
  border: 1px solid #ddd;
  border-radius: 1px;
  padding: 5px;
  width: 350px;
  height: auto;
  object-fit: contain;
}
em {
  font-weight: bold;
}
strong {
  font-style: italic;
}
.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}

.test-box {
  border-left: 2px solid red;
  border-right: 4px solid blue;
  border-top: 6px solid pink;
  border-bottom: 8px solid black;
  padding: 6px;
  margin: 2px;
  width: 200px;
  background-color: inherit;
}
